.container{
  border: 1px solid black;
  width: 70vw;
  margin: 3rem;
  
  .header{
    height: 4rem;
    display: flex;
    align-items: center;
    padding: 10px;

    h4, p {
      margin: 0;
    }
  }

  .footer{
    margin: 1rem;

    svg{
      height: 30px;
    }
    .liked{
      fill: var(--liked-primary-color);
    }
    .default{
      fill: none;
    }
    .unliked{
      fill: var(--unliked-primary-color);
    }
  }
}