.container{
  border: 1px solid black;
  width: 70vw;
  margin: 3rem;
  
  .header{
    height: 4rem;
    display: flex;
    align-items: center;
    padding: 10px;

    h4, p {
      margin: 0;
    }
  }

  .footer{
    margin: 1rem;

    svg{
      height: 30px;
      fill: var(--button-primary-font-color);
      display: flex;
      align-items: center;
      justify-content: center;
    }
    .default{
      fill: #666;
    }
    .liked{
      fill: var(--liked-primary-color);
    }

    .unliked{
      fill: var(--unliked-primary-color);
    }
    #dislike {
      transform: scaleY(-1) translateY(20%) ;

    }
    #like {
      transform: translateY(15%) 
    }

  }
}