.comment-container {
  border-top: 1px solid var(--border-color);
  // border: 1px solid var(--border-color);
  padding: 0.25rem;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 1rem;
  span {

    p{
      margin: 0;
    }
  }
}

