.alert {
    display: flex;
    bottom: 15px;

    left: 50%;
    transform: translateX(-50%);

    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
    width: 40em;
    font-size: x-large;
    border-radius: 15px;
    color: rgba(0, 0, 0, .9);
}

.alert-contet {
    margin-left: 20px;
}

.alert-icon {
    color: var(--natural-input-off-select);
    position: absolute;
    top: -5px;
    left: 5px;
}

.alert-showmore {
    color: var(--liked-primary-color);
    font-size: 1rem;
}

@media (max-width: 1000px) {
    .alert  {
        width: 80%;
    }
}